/*To give a dark mode vibe*/
body {
  background-color: #1b1d21;
}

h1 {
  color: #ff9808;
  font-family: "Roboto", sans-serif;
}

/*Calculator shell*/
.container {
  width: 480px;
  height: 600px;
  margin: 0 auto;
  border: 4px #6a040f solid;
  border-radius: 7%;
  background-color: #03071e;
  padding-inline: 0;
}

/*Display panel*/
.result {
  width: 95%;
  height: 15%;
  margin: 15px 0;
  margin-left: 2.5%;
  background-color: #2b2d42;
  border-radius: 2%;
  padding-top: 15px;
  align-items: stretch;
  color: whitesmoke;
}

/*Each row contains 4 buttons*/
.row1,
.row2,
.row3,
.row4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 13% 0;
}

/*Styling each button*/
button {
  height: 45px;
  width: 85px;
  background-color: #242321;
  padding-bottom: 1px;
  padding-left: 22px;
  padding-right: 22px;
  color: whitesmoke;
}

/*Separate clor for C and = button */
#C {
  background-color: #d90429;
}

#equal {
  background-color: #e85d04;
}

/*Hover button*/
button:hover {
  background-color: wheat;
  color: #03071e;
}
